@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "karla", Verdana, Geneva, Tahoma, sans-serif;
  color: #2B283A;
}
body {
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

main {
  background-color: #F5F5F5;
  width: 75vw;
  height: 75vh;
  max-width: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

header {
  text-align: center;
  padding: 0 10%;
  height: 100px;
  width: 100%;
}

.die-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

i.die {
  color: #0B2434;
  background-color: transparent;
  font-size: 60px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
}

i.die:hover {
  cursor: pointer;
  color: #0b2434d7;
}
i.die.selected {
  color: #5035FF;
}

.roll-btn {
  height: 10vh;
  width: 20vw;
  max-width: 100px;
  background-color: #5035FF;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: x-large;
  font-weight: 600;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
}

.roll-btn:hover {
  cursor: pointer;
  color: #fbff00;
}

.roll-btn:active {
  box-shadow: inset 2px 2px 4px 3px rgba(0, 0, 0, .3);
}